<header>
    <div class="container header-container">
        <a href="{{ url_for('index') }}" class="header-brand" role="heading">MAPPOLA</a>
        <a href="">
            <i class="fa fa-list-alt"></i>
            Data
        </a>
        <a href="">
            <i class="fa fa-search"></i>
            Search
        </a>
        <a href="">
            <i class="fa fa-filter"></i>
            Query
        </a>
        
        <div class="header-flush"></div>

        {% if current_user.is_authenticated %}
        <a href="">
            <i class="fa fa-cog fa-fw"></i>
        </a>
        <a href="">
            <i class="fa fa-user"></i>
            {{ current_user.full_name }}
        </a>
        <a href="{{ url_for('security.logout') }}">
            <i class="fa fa-sign-out fa-fw"></i>
        </a>
        {% else %}
        <a href="{{ url_for('security.login') }}">
            <i class="fa fa-sign-in fa-fw"></i>
            Sign in
        </a>
        {% endif %}
    </div>
</header>