<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
<script src="{{ url_for('static', filename='main.js') }}" defer></script>

<link rel="stylesheet" href="{{ url_for('static', filename='zotero-integration.css') }}">
<script src="{{ url_for('static', filename='zotero-integration.js') }}" defer></script>
<script src="{{ url_for('static', filename='pleiades-integration.js') }}" defer></script>
<script src="{{ url_for('static', filename='epidoc-converter.js') }}" defer></script>
<script src="https://patrimonium.huma-num.fr/atlas/epidoc-converter/$ausohnum-lib/resources/scripts/teiEditor/ancientTextImportRules.js" defer></script>