<header>
    <a href="{{ url_for('index') }}" role="heading">MAPPOLA</a>
    <div class="dropdown">
        <a href="">Project</a>
        <div class="dropdown-area">
            <a href="{{ url_for('info.concept_and_aim') }}">Concept and aim</a>
            <a href="{{ url_for('info.team') }}">Team</a>
            <a href="{{ url_for('info.partners') }}">Partners</a>
            <a href="{{ url_for('info.events_and_presentations') }}">Events and presentations</a>
            <a href="{{ url_for('info.acknowledgements') }}">Acknowledgements</a>
            <a href="mailto:mappola.erc@gmail.com">Contact us</a>
        </div>
    </div>
    <a href="{{ url_for('resource.index', name='Inscriptions') }}">
        Inscriptions
    </a>
    <a href="{{ url_for('search.index') }}">
        Search
    </a>
    <a href="{{ url_for('inscriptions.map') }}">
        Map
    </a>
    <a href="{{ url_for('info.data') }}">
        Data
    </a>
    <a href="">
        Bibliography
    </a>

    <div role="separator"></div>

    {% if current_user.is_authenticated %}
    <a href="{{ url_for('security.change_password') }}">
        User
        ({{ current_user.full_name }})
    </a>
    <a href="{{ url_for('security.logout') }}">
        Sign Out
    </a>
    {% else %}
    <a href="{{ url_for('security.login') }}">
        Sign In
    </a>
    {% endif %}
</header>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div role="alert">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}