<header>
    <div class="container header-container">
        <a href="{{ url_for('index') }}" class="header-brand" role="heading">MAPPOLA</a>
        <a href="">
            <i class="fa fa-list-alt"></i>
            Data
        </a>
        <a href="">
            <i class="fa fa-search"></i>
            Search
        </a>
        <a href="">
            <i class="fa fa-filter"></i>
            Query
        </a>
        
        <div class="header-flush"></div>

        <a href="">
            <i class="fa fa-cog fa-fw"></i>
        </a>
        <a href="">
            <i class="fa fa-user"></i>
            Paul Strobach
        </a>
        <a href="">
            <i class="fa fa-sign-out fa-fw"></i>
        </a>
    </div>
</header>