.form-component {
    margin-bottom: 1rem;
    text-align: right;
}
.form-component label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
    cursor: pointer;
    text-align: left;
}
.form-component input,
.form-component textarea,
.form-component select {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px -7.5px #aaa;
    border-radius: 0.25rem;
    padding: 0.5rem 0.5rem;
    font: inherit;
}
.form-component input:focus,
.form-component textarea:focus {
    outline: none !important;
    border-color: #aaa;
    box-shadow: 0 0 10px -7.5px #666;
}

.form-component textarea {
    min-height: 100px;
    resize: vertical;
}
.form-component textarea.monotext {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.25rem;
}

.form-component .edit-enum-link {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    display: inline-block;
    text-decoration: none;
}

button,
.button {
    background-color: var(--action-col);
    color: var(--dark-col);
    padding: 0.5rem 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    box-shadow: 1px 5px 5px -3px rgba(0,0,0,0.2);
}
button.secondary,
.button.secondary {
    background-color: transparent;
    color: var(--dark-col);
    box-shadow: none;
}