header {
    background-color: var(--header-col);
    padding: 0.5rem;
}

header .header-container {
    display: flex;
    align-items: center;
}

header a {
    display: block;
    text-align: center;
    color: #ffffffee;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.25rem;
    transition: all .3s ease;
    font-size: 0.95em;
    margin: 0 0.05rem;
}
header a.header-brand {
    font-size: 1.5em;
    color: #ffffff;
    margin-right: 0.5rem;
}
header a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 6px -3px rgba(0,0,0,0.4);
}
header a:active,
header a.active {
    color: var(--header-col);
    background-color: #ffffff;
}


header .header-flush { flex-grow: 1; }