.insc {
}

.insc .insc--header {
    padding: 2rem;
    background-color: rgb(245, 245, 250);
    margin: 0;
    margin-bottom: 0.25rem;
}
.insc .insc--header h1 {
    margin: 0;
    margin-top: 4rem;
}
.insc .insc--header dl {
    display: flex;
    flex-wrap: wrap;
}
.insc .insc--header dl dt {
    font-weight: bold;
    margin-right: 1rem;
    break-before: auto;
}
.insc .insc--header dl dd {
    margin: 0;
    margin-right: 2rem;
    min-width: 125px;
    break-before: avoid;
}
@media all and (max-width: 800px) {
    .insc .insc--header dl {
        flex-direction: column;
    }
    .insc .insc--header dl dt {
        margin-right: 0;
        margin-bottom: 0.25rem;
    }
    .insc .insc--header dl dd {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}
.insc .insc--text {
    background-color: rgb(240, 240, 245);
    margin: 0;
    padding: 1rem;
}
.insc .insc--text .insc--presentation-switches {
    display: flex;
    margin-bottom: 0.5rem;
}
.insc .insc--text .insc--presentation-switches a {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    margin-right: 0.5rem;
}
.insc .insc--text .insc--presentation-switches a:hover {
    background-color: rgb(200, 200, 210, 0.25);
}
.insc .insc--text .insc--presentation-switches a.__active {
    background-color: rgb(200, 200, 210, 0.5);
}

.insc .insc--text .insc--presentation {
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    box-shadow: 2px 2px 10px -6px rgba(0,0,0,0.2);
    white-space: pre-wrap;
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: bold;
}

.insc .insc--text .insc--presentation {
    display: none;
}
.insc .insc--text .insc--presentation.__active {
    display: block;
}