* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: var(--layout-width);
    margin: 0 auto;
}

main {
    margin-top: 1rem;
    padding: 2rem;
}
.float-right {
    float: right;
    padding-top: 0.5rem;
}
.float-right.mt {
    padding-top: 1rem;
}
@media all and (max-width: 720px) {
    .float-right {
        float: none;
        padding-top: 0;
        padding-bottom: 1rem;
    }
}