:root {
    --brand-col:    #fe1e0a;
    --dark-col:     #2b303a;
    --medium-col:   #939393;
    --light-col:    #ebebeb;

    --header-col:   var(--dark-col);
    --action-col:   #f9c80e;
    --mark-col:     #ff6;


    --layout-width:  1024px;
}