{% set title = "Admin" %}
{% extends "layouts/application.html" %}

{% block body %}
<h1>Admin tools</h1>

<p>You have access to the following admin tools:</p>

<ul>
    <li>
        <a href="{{ url_for('admin.user') }}">user management</a>
    </li>
    <li>
        <a href="{{ url_for('admin.inscription_reassign') }}">reassign inscription</a>
    </li>
    <li>
        <a href="{{ url_for('resource.index', name='SiteAbbreviations') }}">edit corpora abbreviations</a>
    </li>
</ul>
{% endblock %}