{% set title = name %}
{% extends "layouts/application.html" %}

{% block body %}
<h1>Advanced Search</h1>
<p><a href="{{ url_for('search.basic') }}">Prefer basic search?</a></p>

<form action="{{ url_for('search.advanced_do') }}" method="GET">
    <div class="toolbar">
        <button type="submit" class="primary-btn">Search</button>
        <button type="reset">Clear</button>
    </div>

    <h2>Identification</h2>

    <table role="table">
        <tbody>
            <tr>
                <th>Mappola No.</th>
                <td>
                    MPL <input id="q-mappola_id" name="mappola_id" class="no-block">
                </td>
            </tr>
            <tr>
                <th>bibliography</th>
                <td>
                    <input id="q-bibliography" name="bibliography">
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Provenance, Location and Dating</h2>

    <table role="table">
        <tbody>
            <tr>
                <th>province</th>
                <td>
                    <select id="q-province" name="province">
                        <option selected></option>
                        {% for e in get_enum('Provinces').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>country</th>
                <td>
                    <select id="q-state" name="state">
                        <option selected></option>
                        {% for e in get_enum('ModernStates').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>find place</th>
                <td>
                    <select id="q-find_place" name="find_place">
                        <option selected></option>
                        {% for e in get_enum('Places').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>find context</th>
                <td>
                    <input id="q-find_context" name="find_context">
                </td>
            </tr>
            <tr>
                <th>current location</th>
                <td>
                    <select id="q-current_location" name="current_location">
                        <option selected></option>
                        {% for e in get_enum('CurrentLocations').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>date</th>
                <td>
                    from <input id="q-date_from" type="number" class="no-block" name="date_min">
                    to <input id="q-date_to" type="number" class="no-block" name="date_max">
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Object, Decoration and Layout</h2>

    <table role="table">
        <tbody>
            <tr>
                <th>object type</th>
                <td>
                    <select id="q-object_type" name="object_type">
                        <option selected></option>
                        {% for e in get_enum('ObjectTypes').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>material</th>
                <td>
                    <select id="q-object_material" name="object_material">
                        <option selected></option>
                        {% for e in get_enum('ObjectMaterials').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>state of preservation</th>
                <td>
                    <select id="q-object_preservation" name="object_preservation">
                        <option selected></option>
                        {% for e in get_enum('ObjectPreservationStates').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>execution technique</th>
                <td>
                    <select id="q-object_execution" name="object_execution">
                        <option selected></option>
                        {% for e in get_enum('ObjectExecutionTechniques').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>religion</th>
                <td>
                    <select id="q-religion" name="religion">
                        <option selected></option>
                        {% for e in get_enum('Religions').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>decoration tags</th>
                <td>
                    <select id="q-decoration_tags" name="decoration_tags" multiple>
                        <option selected></option>
                        {% for e in get_enum('ObjectDecorationTags').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Text and Inscription</h2>

    <table role="table">
        <tbody>
            <tr>
                <th>verse type</th>
                <td>
                    <select id="q-verse_type" name="verse_type" multiple>
                        <option selected></option>
                        {% for e in get_enum('VerseTypes').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>rhythmisation</th>
                <td>
                    <select id="q-rhythmisation" name="rhythmisation">
                        <option selected></option>
                        {% for e in get_enum('VerseTimingTypes').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>text layout tags</th>
                <td>
                    <select id="q-layout_tags" name="layout_tags" multiple>
                        <option selected></option>
                        {% for e in get_enum('TextLayoutTags').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>text function</th>
                <td>
                    <select id="q-function" name="function">
                        <option selected></option>
                        {% for e in get_enum('TextFunctions').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>text language</th>
                <td>
                    <select id="q-language" name="languages" multiple>
                        <option selected></option>
                        {% for e in get_enum('Languages').query.all() %}
                        <option value="{{ e.id }}">
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>layout conditioned by language</th>
                <td>
                    <select id="q-conditioned" name="conditioned">
                        <option selected></option>
                        <option value="1">yes</option>
                        <option value="0">no</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>inscription text search method</th>
                <td>
                    <select class="no-block" id="q-text-method" name="text_method">
                        <option>ALL OF</option>
                        <option>ONE OF</option>
                    </select>
                    the following text conditions must be met:
                </td>
            </tr>
            <tr>
                <th>text condition 1</th>
                <td>
                    <input id="q-text-11" name="text11">
                    <select class="no-block" id="q-text-conj1" name="text1_conj">
                        <option>AND</option>
                        <option>OR</option>
                        <option>AND NOT</option>
                    </select>
                    <input id="q-text-12" name="text12">
                </td>
            </tr>
            <tr>
                <th>text condition 2</th>
                <td>
                    <input id="q-text-21" name="text21">
                    <select class="no-block" id="q-text-conj2" name="text2_conj">
                        <option>AND</option>
                        <option>OR</option>
                        <option>AND NOT</option>
                    </select>
                    <input id="q-text-22" name="text22">
                </td>
            </tr>
            <tr>
                <th>text condition 3</th>
                <td>
                    <input id="q-text-31" name="text31">
                    <select class="no-block" id="q-text-conj3" name="text3_conj">
                        <option>AND</option>
                        <option>OR</option>
                        <option>AND NOT</option>
                    </select>
                    <input id="q-text-32" name="text32">
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Full Text Search</h2>

    <table role="table">
        <tbody>
            <tr>
                <th>full text search</th>
                <td>
                    <input id="q-fulltext" name="ft">
                </td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}