{% set title = name %}
{% extends "layouts/application.html" %}

{% block body %}
<h1>Search</h1>
<p><a href="{{ url_for('search.basic') }}">New search</a></p>

<p>You got <strong>{{ count }} result(s)</strong>. {% if count > 100 %}Only the first 100 were shown; please refine your search to be more specific.{% endif %}</p>

<ul>
    {% for insc in results %}
    <li><a href="{{ url_for('resource.show', name='Inscriptions', id=insc.id) }}">{{ insc.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}