{% set title = name %}
{% extends "layouts/application.html" %}

{% block body %}
<h1>Search</h1>
<p><a href="{{ url_for('search.basic' if origin == 'basic' else 'search.advanced') }}">New search</a></p>

<div id="the-map"></div>
<div data-json aria-hidden="true">{{ mc|tojson }}</div>

<p>You got <strong>{{ count }} result(s)</strong>. {% if count > 100 %}There are more than 100 results, please refine your search to be more specific.{% endif %}</p>

<ul>
    {% for insc in results %}
    <li><a href="{{ url_for('resource.show', name='Inscriptions', id=insc.id) }}">{{ insc.title }}</a></li>
    {% endfor %}
</ul>

<script>
window.onload = function() {
    // A JavaScript array with the search results
    var results = JSON.parse(document.querySelector("[data-json]").innerText);

    // You can set in initialization...
    var map = new Mappola.SearchResultMap({
      // Mandatory: the container DIV
      parent: document.getElementById('the-map'), 

      // Optional: search results to show initially
      results: results
    });
}
</script>
{% endblock %}