{% set title = "Abbreviation of corpora" %}
{% extends "layouts/application.html" %}

{% block body %}
<h1>Abbreviation of corpora</h1>

<p><strong>AE:</strong> L'Année Épigraphique, Paris 1888- (es. AE 2010, 00123)</p>
<p><strong>CIL:</strong> Corpus Inscriptionum Latinarum (es. CIL 06, 00123)</p>
<p><strong>CLE:</strong> Carmina Latina Epigraphica (es. CLE 00123)</p>
<p><strong>CLEDalm:</strong> P. Cugusi, M. T. Sblendorio Cugusi, Carmina Latina Epigraphica non-bücheleriani di Dalmatia, Faenza 2015 (es. CLEDalm 00006)</p>
<p><strong>CLEMoes:</strong> P. Cugusi - M.T. Sblendorio Cugusi, Carmina latina epigraphica Moesica, Bologna 2008 (es. CLEMoes 00022)</p>
<p><strong>CLEPann:</strong> P. Cugusi, M. T. Sblendorio Cugusi, Studi sui carmi epigrafici. Carmina Latina Epigraphica Pannonica, Bologna 2007 (es. CLEPann 00011)</p>
<p><strong>GVI:</strong> W. Peek, Griechische Vers-Inschriften. Band I Grab-Epigramme, Berlin 1955. (es. GVI 00333)</p>
<p><strong>HEp:</strong> Hispania Epigraphica, Madrid 1989- (es. HEp 1999, 00537)</p>
<p><strong>IBeševliev:</strong> V. Beševliev, Spätgriechische und spätlateinische Inschriften aus Bulgarien, Berlin 1964 (es. IBeševliev 00047)</p>
<p><strong>ICG:</strong> E. Le Blant, Inscriptions chrétiennes de la Gaule antérieures au VIIIe siècle, Paris 1856-1865 (es. ICG 00226)</p>
<p><strong>IDR:</strong> Inscriptiones Daciae Romanae (es. IDR 01, 00020)</p>
<p><strong>IG:</strong> Inscriptiones Graecae (es. IG 14, 01555)</p>
<p><strong>IGCVO:</strong>  C. Carletti u.a., Inscriptiones Graecae Christianae veteres occidentis, Bari 1989 (es. IGCVO 00001)</p>
<p><strong>IGLNovae:</strong> J. Kolendo, V Božilova, Inscriptions grecques et latines de Novae (Mésie inférieure), Bordeaux 1997 (es. IGLNovae 01234)</p>
<p><strong>IGLR:</strong> E. Popescu, Inscriptiones intra fines Dacoromaniae repertae Graecae et Latinae anno CCLXXXIV recentiores, Bucuresti 1976 (es. IGLR 00123)</p>
<p><strong>IGUR:</strong> Inscriptiones Graecae Urbis Romae (es. IGUR 03, 01444; IGUR 02-01, 00666)</p>
<p><strong>ILBulg:</strong> B. Gerov, Inscriptiones Latinae in Bulgaria repertae. Inscriptiones inter Oescum et Iatrum repertae, Sofia 1989 (es. ILBulg 00044)</p>
<p><strong>ILCV:</strong> E. Diehl, Inscriptiones Latinae Christianae Veteres, Berlin 1925-1967  (es.  ILCV 01421)</p>
<p><strong>ILJug:</strong> Inscriptiones Latinae quae in Iugoslavia ... repertae et editae sunt, Ljubljana 1963-1986 (es. ILJug 01, 00020)</p>
<p><strong>ILNovae:</strong> V Božilova, J. Kolendo, L. Mrozewicz, Inscriptions latines de Novae, Poznań 1992 (es. ILNovae 00321)</p>
<p><strong>ILD:</strong> C. C. Petolescu, Inscripții latine din Dacia, Bucuresti 2005–2016 (es. ILD 01, 00040)</p>
<p><strong>ILS:</strong> H. Dessau, Inscriptiones Latinae selectae, Berlin 1892-1916 (es. ILS 00033)</p>
<p><strong>IMS:</strong> Inscriptions de la Mésie Supérieure (es. IMS 02, 00057)</p>
<p><strong>IRT:</strong> J. M. Reynolds, The inscriptions of Roman Tripolitania, Rome 1952 (es. IRT 00040)</p>
<p><strong>IScM:</strong> Inscriptiones Scythiae Minoris Graecae et Latinae, Bucuresti 1980- (es. IScM 04, 00123)</p>
<p><strong>RICG:</strong> Recueil des Inscriptions Chrétiennes de la Gaule, Paris 1975- (es. RICG 08, 00021)</p>
<p><strong>RIT:</strong> Die Römischen Inschriften von Tarraco, Berlin 1975 (es. RIT 00901)</p>
<p><strong>SEG:</strong> Supplementum Epigraphicum Graecum (es. SEG 14, 00555)</p>
<p><strong>SGO:</strong> R. Merkelbach, J. Stauber, Steinepigramme aus dem griechischen Osten, München, Leipzig 1998–2004. (es. SGO 02 10/02/32 Kaisareia/Hadrianupolis)</p>
<p><strong>TitAq:</strong> Tituli Aquicenses, Budapest 2009–2011 (es. TitAq 01, 00519)</p>

{% endblock %}