{% set title = "Concept and Aim" %}
{% extends "layouts/application.html" %}

{% block body %}
<h1>Concept and Aim</h1>

<p>The MAPPOLA database, a primary output of the ERC-funded project <a href="https://mappola.eu/">MAPPOLA</a>, aims at collecting all verse inscriptions from the Roman Empire. Combining archaeological, historical and philological approaches this open-access platform serves as a tool to investigate Roman poetic practice and culture at all social, regional and ethnic levels, mapping out the creation of poetic landscapes and (sub-)cultures, as well as exploring chronological and cross-cultural shifts and changes.</p>

<p>Primarily designed to enhance the study and search of inscriptions in verses among the scientific community, the database also includes features to support outreach and educational purposes. </p>

<p>The platform offers an interactive map which allows  users to filter the inscriptions according to various descriptors, including typology, decoration, type of verse, verse layout, language, prosopographical features, chronology, and more.</p>

<p><a href="https://epidoc.stoa.org/">EpiDoc-XML</a> records focus on the epigraphical support, as well as textual and historical aspects of individual inscriptions. A verse visualisation, in addition to diplomatic and interpretative transcriptions facilitates the identification and appreciation of the metrical part and will help to identify metrical structures, rhythms, and meters. </p>

<p>Each epigraphic record includes an original English translation. Furthermore, already published translations into other languages are provided to enable users to get a full and balanced understanding of each poem as well as to compare and contrast different interpretations of each text.</p>
{% endblock %}