{% set title = "Events and presentations" %}
{% extends "layouts/application.html" %}

{% block body %}
<h1>Events and presentations</h1>

<ul>
    <li>Workshop presentation: Chiara Cenati, <i>Le iscrizioni in versi come documenti storici: problemi, soluzioni e sfide del database MAPPOLA</i>, Encoding Metrical Inscriptions (Workshop 14-15 Novembre, Università di Foggia)</li>
    <li>Workshop: Chiara Cenati, <i>Encoding verse inscriptions in EpiDoc: historical approach and challenges of the MAPPOLA database</i>, University of Warsaw, Faculty of History (3rd June 2024)</li>
    <li>Poster presentation: Chiara Cenati, Alexander Gangoly, Victoria González Berdús, Peter Kruschwitz, Denisa Murzea, Rainer Simon, Paul Strobach & Mirko Tasso, <i>Behind the scenes of the Mappola Database</i>, Epigraphy.info VII Leuven (24.-26. April 2023) &ndash; <a href="https://epigraphy.info/workshop_7_posters/#behind-the-scenes-of-the-mappola-database">link</a></li>
    <li>Workshop presentation: Chiara Cenati, Victoria González Berdús, <i>Encoding metrical texts for the Mappola Database: goals and challenges</i>, Carmen Workshop. Verse Encoding in EpiDoc, (7.-8.11.2022)</li>
    <li>Working paper: Chiara Cenati, Victoria González Berdús, <i>MAPPOLA Database: Digital text edition “creating” specific perception of texts. From the Epigraphic Database Roma to the Mappola Database</i>. DOI: <a href="https://doi.org/10.25358/openscience-8181">https://doi.org/10.25358/openscience-8181</a></li>
    <li>Workshop presentation: Chiara Cenati, Victoria González Berdús, <i>Mappola Database. Digital text edition: "creating" specific perceptions of texts</i>, Conference „Modern text theories, analytical annotation tools, state-of the-art instruments in analogue and digital editing“, Universidad de Sevilla (4.11.2021)</li>
    <li>Workshop roundtable: <i>Taking Stock – Forging ahead. The Challenges of verse inscriptions and Digital Epigraphy MAPPOLA</i>, Workshop: But is it art? Exploring the aesthetic limits of Roman poetry (Vienna and online 30 September – 1 October 2021) - <a href="https://mappola.eu/index.php/2021/09/28/workshop-but-is-it-art-exploring-the-aesthetic-limits-of-roman-poetry-30-september-1-october-2021/">link</a></li>
    <li>Poster presentation: C. Cenati, P. Kruschwitz, V. González Berdús, A. Gangoly, T. Hobel, D. Murzea, <i>MAPPOLA – An Interactive Platform Mapping Out the Verse Inscriptions of the Roman Empire</i>, poster presented at the V Epigraphy.info workshop (3–6.11.2020, Leuven and online).</li>
</ul>
{% endblock %}