* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ddd;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
header [role="separator"] { flex-grow: 1; }
header a {
    color: black;
    margin: 0 0.5rem;
    text-decoration: none;
}
header a:hover {
    background-color: #bbb;
}
header a[role="heading"] { font-weight: bold; }

main {
    padding: 0.5rem;
}
table[role="table"] {
    border: 1px solid #aaa;
}
table[role="table"] th, table[role="table"] td {
    border: 1px solid #aaa;
    padding: 0.25rem;
    text-align: left;
    vertical-align: top;
}
table[role="table"] td ul, table[role="table"] td p {
    margin: 0;
    margin-bottom: 0.15rem;
}
form table[role="table"] {
    width: 100%;
    max-width: 840px;
}
form table[role="table"] th {
    padding: 0.5rem;
}
form table[role="table"] td {
    width: 620px;
    padding: 0.5rem;
}

.text-presentation {
    padding: 0.5rem;
    background-color: #eee;
    margin-bottom: 0.1rem;
    display: none;
    font-size: 1.05rem;
}
.text-presentation.active { display: block; }

.switch-list {
    margin: 1rem 0;
    display: flex;
}
.switch-list label {
    margin-right: 1.5rem;
}

section {
    margin: 2rem 0rem;
    padding: 1rem;
    border: 1px solid #000;
}

form label,
form input,
form textarea,
form select {
    display: block;
    width: 100%;
}

form input,
form textarea,
form select {
    max-width: 600px;
    padding: 0.25rem;
    font: inherit;
    margin-top: 0.15rem;
    margin-bottom: 1rem;
}

form input.no-block,
form select.no-block {
    width: auto;
    display: inline-block;
}

form input[type=checkbox] {
    width: auto;
    cursor: pointer;
}

form textarea {
    resize: vertical;
    min-height: 112px;
}
form textarea.raw-epidoc {
    font-family: monospace;
}

form label,
form select,
button, [role="button"] {
    cursor: pointer;
}

form select + a[role="complementary"] {
    margin-top: -0.75rem;
    margin-bottom: 1rem;
    font-size:0.85rem;
    display: block;
}

form table[role="table"] th label,
form table[role="table"] td input,
form table[role="table"] td textarea,
form table[role="table"] td select {
    margin: 0;
    margin-bottom: 0.15rem;
}

form table[role="table"] select + a[role="complementary"] {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

[role="alert"] {
    background-color: #ccffcc;
    padding: 0.5rem;
}
[role="alert"] ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.toolbar {
    margin: 1rem 0;
}

.up-arrow {
    margin: 10px auto;
    height: 30px;
    width: 30px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCAxNi42N2wyLjgyOSAyLjgzIDkuMTc1LTkuMzM5IDkuMTY3IDkuMzM5IDIuODI5LTIuODMtMTEuOTk2LTEyLjE3eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
}

p.small {
    margin: 5px 0 !important;
    font-size: 0.85rem;
}

button.block-btn {
    display: block;
}






/* Epidoc-theming */
.__epidoc_render .latinnum{border-top:thin #000 solid}.__epidoc_render .supraline{border-top:thin #000 solid}.__epidoc_render .previouslyread{text-decoration:underline}.__epidoc_render *[lang=la]{font-family:"GentiumAlt","Gentium","Palatino Linotype","Palatino","Times New Roman","Times","Arial Unicode MS",serif}.__epidoc_render *[lang=grc]{font-family:"Lucida Grande","Arial Unicode MS","Galilee Unicode Gk","New Athena Unicode","Athena Unicode","Palatino Linotype","Titus Cyberbit Basic","Cardo","Vusillus Old Face","Alphabetum","Galatia SIL","Code 2000","GentiumAlt","Gentium","Minion Pro","GeorgiaGreek","Vusillus Old Face Italic","Everson Mono","Aristarcoj","Porson","Legendum","Aisa Unicode","Hindsight Unicode","Caslon","Verdana","Tahoma"}.__epidoc_render>.textpart{left:6em;line-height:1.4;margin-bottom:8px;position:relative;padding-right:2em}.__epidoc_render .textpartnumber{padding-right:.2em;position:absolute; padding: 0; width: calc(100% - 6em); }.__epidoc_render .linenumber{left:-4em;padding-right:.2em;position:absolute}.__epidoc_render .linenumberbroken{left:-4em;padding-right:.2em;position:absolute;color:red;text-decoration:blink}.__epidoc_render .petraeligature{text-decoration:underline}.__epidoc_render .inslibligature{border-top:2px solid #000;border-radius:6px;padding:4px 2px 0px 2px}.__epidoc_render .underline{text-decoration:underline}.__epidoc_render .italic{font-style:italic}.__epidoc_render .rtl,.__epidoc_render .rtl *{direction:rtl;text-align-last:right}.__epidoc_render h4.slimmer{margin-bottom:-0.5em}.__epidoc_render h3.iospe{color:#285072;float:left;font-family:arial,helvetica,sans-serif;font-size:125%;max-width:165px;margin-top:0;padding-top:0}.__epidoc_render h4.iospe{font-family:arial,helvetica,sans-serif;font-size:13px;color:#333;max-width:165px;width:165px}.__epidoc_render dl.iospe{font-family:arial,helvetica,sans-serif;font-size:13px;margin-bottom:15px;margin-top:15px;padding-left:165px;padding-top:5px}.__epidoc_render dl.iospe dt{float:left;font-size:13px;font-weight:bold;color:#333;max-width:165px;vertical-align:baseline;width:165px}.__epidoc_render dl.iospe dd{font-size:13px;margin-left:165px;vertical-align:baseline}.__epidoc_render div#edition.iospe{margin-left:100px}.__epidoc_render div.iospe{margin-left:165px}.__epidoc_render .no-space{margin-bottom:-1.9em}