{% macro rendel(data, dt, standalone=False) %}
{% if dt == "reference_list" or dt == "reference_complex" or dt == "reference_func" %}
<ul>
    {% for entry in data %}
    <li>
        {% if entry[1] %}
        {{ entry[1][1] }} <a href="{{ entry[1][0] }}" class="reflink" target="_blank">🔗 link</a>
        {% else %}{{ entry[0] }}{% endif %}
    </li>
    {% endfor %}
</ul>
{% elif dt == "dimension" %}
<p>width: {% if data[0][0] %}{{ data[0][0] }} cm{% else %}unknown{% endif %}</p>
<p>height: {% if data[0][1] %}{{ data[0][1] }} cm{% else %}unknown{% endif %}</p>
<p>depth: {% if data[0][2] %}{{ data[0][2] }} cm{% else %}unknown{% endif %}</p>
{% if data[1] %}<p><a href="{{ data[1] }}" class="reflink" target="_blank">🔗 link</a></p>{% endif %}
{% elif dt == "custom_map" %}
{% set key = random_key() %}
<div id="column-map-{{ key }}" class="column-map"></div>
<div data-json-for="{{ key }}" aria-hidden="true">{{ data[0]|tojson }}</div>

<script>
    window.onload = function() {
        // A JavaScript array with the search results
        var results = JSON.parse(document.querySelector("[data-json-for=\"{{ key }}\"]").innerText);
    
        // You can set in initialization...
        let map_{{ key }} = new Mappola.SearchResultMap({
          // Mandatory: the container DIV
          parent: document.getElementById('column-map-{{ key }}'), 
    
          // Optional: search results to show initially
          results: results
        });

        map_{{ key }}.setSelected(results[0].long_id)
    }
</script>
{% else %}
{% if standalone %}
<p>{% if data[1] %}{{ data[1][1] }} <a href="{{ data[1][0] }}" class="reflink" target="_blank">🔗 link</a>{% else %}{{ data[0] }}{% endif %}</p>{% else %}{% if data[1] %}{{ data[1][1] }} <a href="{{ data[1][0] }}" class="reflink" target="_blank">🔗 link</a>{% else %}{{ data[0] }}{% endif %}{% endif %}
{% endif %}
{% endmacro %}

{% macro render_part(part, item, ploop=None) %}
{% if part.title %}
<h3>{{ defn_snippet(part.title, item, loop=ploop) }}</h3>
{% endif %}

{% if part.view_prefix %}
<p>{{ defn_snippet(part.view_prefix, item, loop=ploop) }}</p>
{% endif %}

{% if part.component == "table" %}
<table role="table">
    <tbody>
        {% for column in part.columns %}
        <tr>
            <th>{{ column.label }}</th>
            <td>{{ rendel(postproc(render_column(item, column), column), column.type) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif part.component == "standalone" %}
{% if part.class %}<div class="{{ part.class }}">{% endif %}
{{ rendel(postproc(render_column(item, part.single), part.single), part.single.type, standalone=True) }}
{% if part.class %}</div>{% endif %}
{% elif part.component == "embed" %}
{% set table = defn_parse_raw(part.table, item) %}
<table role="table">
    <tbody>
        {% for row in table %}
        <tr>
            {% for column in part.columns %}
            {% if column.heading %}
            <th>{{ rendel(postproc(render_column(row, column), column)) }}</th>
            {% else %}
            <td>{{ rendel(postproc(render_column(row, column), column)) }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif part.component == "text_view" %}
<div class="text-presentation-container">
    <div class="switch-list">
        <input type="radio" name="text-form" id="text-form--dipl" value="diplomatic" checked>
        <label for="text-form--dipl">Diplomatic</label>
        <input type="radio" name="text-form" id="text-form--intp" value="interpretative">
        <label for="text-form--intp">Interpretative</label>
        {% if item.text_with_metrics_visualised() != item.text_interpretative() %}
        <input type="radio" name="text-form" id="text-form--mevs" value="metrics-visualised">
        <label for="text-form--mevs">With Metrics Visualised</label>
        {% endif %}
    </div>
    <div class="text-presentation __epidoc_render active" data-tp="diplomatic">{{ item.text_diplomatic()|safe }}</div>
    <div class="text-presentation __epidoc_render" data-tp="interpretative">{{ item.text_interpretative()|safe }}</div>
    <div class="text-presentation __epidoc_render" data-tp="metrics-visualised">{{ item.text_with_metrics_visualised()|safe }}</div>
</div>
{% if item.auto_apparatus() %}
<h5>Apparatus</h5>
<div class="auto-apparatus">
    {{ item.auto_apparatus()|safe }}
</div>
{% endif %}
{% elif part.component == "revisions" %}
<h5 style="margin-top: 1rem;">Revisions</h5>
<ol>
    {% for rev in item.revisions %}
    <li>
        by <strong>{{ rev.user.full_name }}</strong><br>
        at {{ rev.revision_at.strftime("%Y-%m-%d %H:%M") }}
        {% if rev.revision_comment %}<br>
        <em>{{ rev.revision_comment }}</em>
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% endif %}

{% if part.view_postfix %}
<p>{{ defn_snippet(part.view_postfix, item, loop=ploop) }}</p>
{% endif %}
{% endmacro %}

{% macro render_form_part(part, item, ploop=None) %}
{% if part.title %}
<h3>{{ defn_snippet(part.title, item, loop=ploop) }}</h3>
{% endif %}

{% if part.edit_prefix %}
<p>{{ defn_snippet(part.edit_prefix, item, loop=ploop) }}</p>
{% endif %}

{% if part.ext_hint %}
<div data-ext-hint="{{ part.ext_hint }}">
{% endif %}

{% if part.component == "table" %}
<table role="table">
    <tbody>
        {% for column in part.columns %}
        {% if column.type == "input" %}
        <tr>
            <th><label for="{{ name }}-{{ column.column }}">{{ column.label }}</label></th>
            <td><input id="{{ name }}-{{ column.column }}" value="{{ render_column(item, column)[0] }}"
                    name="{{ column.column }}" type="text"></td>
        </tr>
        {% elif column.type == "boolean_input" %}
        <tr>
            <th><label for="{{ name }}-{{ column.column }}">{{ column.label }}</label></th>
            <td><input id="{{ name }}-{{ column.column }}" {{ 'checked' if render_column(item, column)[0] }}
                    name="{{ column.column }}" type="checkbox"></td>
        </tr>
        {% elif column.type == "numeric_input" %}
        <tr>
            <th><label for="{{ name }}-{{ column.column }}">{{ column.label }}</label></th>
            <td><input id="{{ name }}-{{ column.column }}" value="{{ render_column(item, column)[0] }}"
                    name="{{ column.column }}" type="number" step="{{ column.step }}"></td>
        </tr>
        {% elif column.type == "text" %}
        <tr>
            <th><label for="{{ name }}-{{ column.column }}">{{ column.label }}</label></th>
            <td><textarea id="{{ name }}-{{ column.column }}"
                    name="{{ column.column }}">{{ render_column(item, column)[0] }}</textarea></td>
        </tr>
        {% elif column.type == "dimension" %}
        <tr>
            <th>{{ column.label }}</th>
            <td>
                <label for="{{ name }}-{{ column.column[0] }}">width (in cm)</label>
                <input id="{{ name }}-{{ column.column[0] }}" value="{{ render_column(item, column)[0][0] }}"
                    name="{{ column.column[0] }}" type="number" step="0.01" min="0">
                <label for="{{ name }}-{{ column.column[1] }}">height (in cm)</label>
                <input id="{{ name }}-{{ column.column[1] }}" value="{{ render_column(item, column)[0][1] }}"
                    name="{{ column.column[1] }}" type="number" step="0.01" min="0">
                <label for="{{ name }}-{{ column.column[2] }}">depth (in cm)</label>
                <input id="{{ name }}-{{ column.column[2] }}" value="{{ render_column(item, column)[0][2] }}"
                    name="{{ column.column[2] }}" type="number" step="0.01" min="0">
            </td>
        </tr>
        {% elif column.type == "reference" %}
        <tr>
            <th>
                <label for="{{ name }}-{{ column.column }}">{{ column.label }}</label>
                <small><a href="{{ url_for('resource.index', name=column.refersto) }}" target="_blank">edit list</a></small>
            </th>
            <td>
                <select id="{{ name }}-{{ column.column }}" name="{{ column.column }}">
                    <option {{ 'disabled' if column.refreq }} {{ 'selected' if item[column.column] == None }}></option>
                    {% if column.reference_grouping %}
                    {% for og in get_enum_with_grouping(column.refersto, column.reference_grouping) %}
                    <optgroup label="{{ og.label }}">
                        {% for e in og.entities %}
                        <option value="{{ e.id }}" {{ 'selected' if e==item[column.column] }}>
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                    {% else %}
                    {% for e in get_enum(column.refersto).query.order_by("title").all() %}
                    <option value="{{ e.id }}" {{ 'selected' if e==item[column.column] }}>
                        {{ e.title }}
                    </option>
                    {% endfor %}
                    {% endif %}
                </select>
            </td>
        </tr>
        {% elif column.type == "reference_list" %}
        <tr>
            <th>
                <label for="{{ name }}-{{ column.column }}">{{ column.label }}</label>
                <small><a href="{{ url_for('resource.index', name=column.refersto) }}" target="_blank">edit list</a></small>
            </th>
            <td>
                <select id="{{ name }}-{{ column.column }}" name="{{ column.column }}" multiple>
                    {% if column.reference_grouping %}
                    {% for og in get_enum_with_grouping(column.refersto, column.reference_grouping) %}
                    <optgroup label="{{ og.label }}">
                        {% for e in og.entities %}
                        <option value="{{ e.id }}" {{ 'selected' if e in item[column.column] }}>
                            {{ e.title }}
                        </option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                    {% else %}
                    {% for e in get_enum(column.refersto).query.order_by("title").all() %}
                    <option value="{{ e.id }}" {{ 'selected' if e in item[column.column] }}>
                        {{ e.title }}
                    </option>
                    {% endfor %}
                    {% endif %}
                </select>
            </td>
        </tr>
        {% elif column.type == "custom_map" %}
        <tr>
            <th>{{ column.label }}</th>
            <td><p>This column is not editable.</p></td>
        </tr>
        {% else %}
        <tr>
            <th>{{ column.label }}</th>
            <td>{{ rendel(render_column(item, column), column.type) }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% elif part.component == "standalone" %}
{% if part.single.type == "input" %}
<label for="{{ name }}-{{ part.single.column }}">{{ part.single.label }}</label>
<input id="{{ name }}-{{ part.single.column }}" value="{{ render_column(item, part.single)[0] }}"
    name="{{ part.single.column }}" type="text">
{% elif part.single.type == "boolean_input" %}
    <label for="{{ name }}-{{ part.single.column }}">{{ part.single.label }}</label>
    <input id="{{ name }}-{{ part.single.column }}" {{ 'checked' if render_column(item, part.single)[0] }}
        name="{{ part.single.column }}" type="checkbox">
{% elif part.single.type == "numeric_input" %}
    <label for="{{ name }}-{{ part.single.column }}">{{ part.single.label }}</label>
    <input id="{{ name }}-{{ part.single.column }}" value="{{ render_column(item, part.single)[0] }}"
        name="{{ part.single.column }}" type="number" step="{{ part.single.step }}">
{% elif part.single.type == "text" %}
<label for="{{ name }}-{{ part.single.column }}">{{ part.single.label }}</label>
<textarea id="{{ name }}-{{ part.single.column }}"
    name="{{ part.single.column }}">{{ render_column(item, part.single)[0] }}</textarea>
{% elif part.single.type == "dimension" %}
<p><strong>{{ part.single.label }}</strong></p>
<label for="{{ name }}-{{ part.single.column[0] }}">width (in cm)</label>
<input id="{{ name }}-{{ part.single.column[0] }}" value="{{ render_column(item, part.single)[0] }}"
    name="{{ part.single.column[0] }}" type="number" step="0.01" min="0">
<label for="{{ name }}-{{ part.single.column[1] }}">height (in cm)</label>
<input id="{{ name }}-{{ part.single.column[1] }}" value="{{ render_column(item, part.single)[1] }}"
    name="{{ part.single.column[1] }}" type="number" step="0.01" min="0">
<label for="{{ name }}-{{ part.single.column[2] }}">depth (in cm)</label>
<input id="{{ name }}-{{ part.single.column[2] }}" value="{{ render_column(item, part.single)[2] }}"
    name="{{ part.single.column[2] }}" type="number" step="0.01" min="0">
{% elif part.single.type == "reference" %}
<label for="{{ name }}-{{ part.single.column }}">{{ part.single.label }}</label>
<small><a href="{{ url_for('resource.index', name=part.single.refersto) }}" target="_blank">edit list</a></small>
<select id="{{ name }}-{{ part.single.column }}" name="{{ part.single.column }}">
    <option {{ 'disabled' if part.single.refreq }} {{ 'selected' if item[part.single.column] == None }}></option>
    {% for e in get_enum(part.single.refersto).query.order_by("title").all() %}
    <option value="{{ e.id }}" {{ 'selected' if e==item[part.single.column] }}>
        {{ e.title }}
    </option>
    {% endfor %}
</select>
{% elif part.single.type == "reference_list" %}
<label for="{{ name }}-{{ part.single.column }}">{{ part.single.label }}</label>
<small><a href="{{ url_for('resource.index', name=part.single.refersto) }}" target="_blank">edit list</a></small>
                    <option disabled {{ 'selected' if item[column.column]|length == 0 }}></option>
<select id="{{ name }}-{{ part.single.column }}" name="{{ part.single.column }}" multiple>
    <option disabled {{ 'selected' if item[part.single.column]|length == 0 }}></option>
    {% for e in get_enum(part.single.refersto).query.order_by("title").all() %}
    <option value="{{ e.id }}" {{ 'selected' if e in item[part.single.column] }}>
        {{ e.title }}
    </option>
    {% endfor %}
</select>
{% elif part.single.type == "reference_complex" or part.single.type == "reference_func" %}
{{ rendel(render_column(item, part.single), part.single.type, standalone=True) }}
{% if item.id == None %}
<p>You can edit this information once the item is created.</p>
{% else %}
<p>Edit <a href="{{ url_for('resource.relindex', name=name, id=item.id, relname=part.single.refersto) }}" target="_blank">this information</a>.</p>
{% endif %}
{% else %}
{{ rendel(render_column(item, part.single), part.single.type, standalone=True) }}
{% endif %}
{% elif part.component == "embed" %}
{% set table = defn_parse_raw(part.table, item) %}
<table role="table">
    <tbody>
        {% for row in table %}
        <tr>
            {% for column in part.columns %}
            {% if column.heading %}
            <th>{{ rendel(render_column(row, column)) }}</th>
            {% else %}
            <td>{{ rendel(render_column(row, column)) }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if part.edit and part.edit.type == "relation" %}
{% if item.id == None %}
<p>You can edit this information once the item is created.</p>
{% else %}
<p>Edit <a href="{{ url_for('resource.relindex', name=name, id=item.id, relname=part.edit.which) }}" target="_blank">this information</a>.</p>
{% endif %}
{% endif %}
{% elif part.component == "text_view" %}
<table role="table">
    <tbody>
        <tr>
        </tr>
        <tr>
            <th><label for="{{ name }}-{{ part.columns.epidoc }}">EpiDoc</label></th>
            <td>
                <textarea id="{{ name }}-{{ part.columns.epidoc }}" class="raw-epidoc" data-ext-hint='epidoc-target'
                    name="{{ part.columns.epidoc }}">{{ item[part.columns.epidoc] or "" }}</textarea>
                
                <div class="up-arrow"></div>
                <textarea id="{{ name }}-{{ part.columns.epidoc }}-fromformatted"  data-ext-hint='epidoc-source'
                    placeholder="Enter formatted text here"></textarea>
                <p class="small">(built with the EpiDoc converter of the <a href="https://patrimonium.huma-num.fr/atlas/editor/">Patrimonium editor</a>)</p>
                <button type="button" class="block-btn" data-ext-hint='epidoc-btn'>convert (will override!)</button>
            </td>
        </tr>
    </tbody>
</table>
{% elif part.component == "revisions" %}
<h5 style="margin-top: 1rem;">Revisions</h5>
<ol>
    {% for rev in item.revisions %}
    <li>
        by <strong>{{ rev.user.full_name }}</strong><br>
        at {{ rev.revision_at.strftime("%Y-%m-%d %H:%M") }}
        {% if rev.revision_comment %}<br>
        <em>{{ rev.revision_comment }}</em>
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% endif %}

{% if part.ext_hint %}
</div>
{% endif %}

{% if part.edit_postfix %}
<p>{{ defn_snippet(part.edit_postfix, item, loop=ploop) }}</p>
{% endif %}
{% endmacro %}