{% set title = name %}
{% extends "layouts/application.html" %}

{% block body %}
<h1><a href="{{ url_for('resource.index', name=name) }}">{{ name|camel2human }}</a>: {{ defn_parse(defn.title, item) }}</h1>

<form action="" method="post">

    <div class="toolbar">
        {% if defn.update_action %}
        <button type="submit" class="primary-btn">{{ defn.update_action }}</button>
        {% endif %}
        {% if defn.cancel_action %}
        {% if defn.cancel_returns_to_show %}
        <a href="{{ url_for('resource.show', name=name, id=item.id) }}" role="button">{{ defn.cancel_action }}</a>
        {% else %}
        <a href="{{ url_for('resource.index', name=name) }}" role="button">{{ defn.cancel_action }}</a>
        {% endif %}
        {% endif %}
    </div>

    {% include "resource/_form.html" %}
</form>

{% endblock %}