{% set title = name %}
{% extends "layouts/application.html" %}

{% block body %}
<h1>{{ name|camel2human }}</h1>
{% if defn.create_op or (defn.show_only_own_op and defn.show_all_op and current_user.is_authenticated) %}
<div class="toolbar">
    {% if defn.create_op %}
    <a href="{{ url_for('resource.new', name=name) }}" role="button">{{ defn.create_op }}</a>
    {% endif %}

    {% if (defn.show_only_own_op and defn.show_all_op and current_user.is_authenticated) %}
    {% if request.values["own_filter"] == "own" %}
    {% set show_only_mine = true %}
    <a href="?own_filter=all" role="button">{{ defn.show_all_op }}</a>
    {% else %}
    {% set show_only_mine = false %}
    <a href="?own_filter=own" role="button">{{ defn.show_only_own_op }}</a>
    {% endif %}
    {% endif %}

    {% if (defn.show_only_complete_op and defn.show_only_incomplete_op and defn.show_all_completeness_op and current_user.is_authenticated) %}
    {% if request.values["status_filter"] == "complete" %}
    {% set show_only_complete = true %}
    {% set show_only_incomplete = false %}
    <a href="?status_filter=all" role="button">{{ defn.show_all_completeness_op }}</a>
    <a href="?status_filter=incomplete" role="button">{{ defn.show_only_incomplete_op }}</a>
    {% elif request.values["status_filter"] == "incomplete" %}
    {% set show_only_complete = false %}
    {% set show_only_incomplete = true %}
    <a href="?status_filter=all" role="button">{{ defn.show_all_completeness_op }}</a>
    <a href="?status_filter=complete" role="button">{{ defn.show_only_complete_op }}</a>
    {% else %}
    {% set show_only_complete = false %}
    {% set show_only_incomplete = false %}
    <a href="?status_filter=complete" role="button">{{ defn.show_only_complete_op }}</a>
    <a href="?status_filter=incomplete" role="button">{{ defn.show_only_incomplete_op }}</a>
    {% endif %}
    {% elif defn.show_only_complete_op and defn.show_only_incomplete_op and defn.show_all_completeness_op and not current_user.is_authenticated %}
    {% set show_only_complete = true %}
    {% set show_only_incomplete = false %}
    {% endif %}
</div>
{% endif %}

<h3>{{ R.query.count() }} total items</h3>

<table role="table">
    <tbody>
        <tr>
            {% for column in defn.table %}
            <th>{{ column.name }}</th>
            {% endfor %}
            {% if defn.update_op or defn.delete_op %}
            <th></th>
            {% endif %}
        </tr>
        {% for item in R.query.all() if (not show_only_mine or item[defn.show_only_own_column] == current_user)
                                        and
                                        (not show_only_incomplete or item[defn.show_completeness_column].is_incomplete)
                                        and
                                        (not show_only_complete or item[defn.show_completeness_column].is_complete) %}
        <tr>
            {% set primary_loop=loop %}
            {% for column in defn.table %}
            {% if column.linkto and column.linkto == "show" %}
            <td>
                <a href="{{ url_for('resource.show', name=name, id=item.id) }}">
                    {{ defn_parse(column.value, item, loop=primary_loop) }}
                </a>
            </td>
            {% else %}
            <td>{{ defn_parse(column.value, item, loop=primary_loop) }}</td>
            {% endif %}
            {% endfor %}
            {% if defn.update_op or defn.delete_op %}
            <td>
                {% if current_user.is_authenticated %}
                {% if defn.update_op %}
                <a href="{{ url_for('resource.edit', name=name, id=item.id) }}" role="button">{{ defn.update_op }}</a>
                {% endif %}
                {% if defn.delete_op %}
                <a href="{{ url_for('resource.delete', name=name, id=item.id) }}" role="button">{{ defn.delete_op }}</a>
                {% endif %}
                {% if current_user.has_dev_permissions() %}
                <a href="{{ url_for('resource.merge', name=name, id=item.id) }}" role="button">Merge</a>
                {% endif %}
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}