{% set title = name %}
{% extends "layouts/application.html" %}

{% block body %}
<h1><a href="{{ url_for('resource.index', name=name) }}">{{ name }}</a>: New item</h1>

<form action="" method="post">

    <p>
        {% if defn.create_action %}
        <button type="submit">{{ defn.create_action }}</button>
        {% endif %}
        {% if defn.cancel_action %}
        <a href="{{ url_for('resource.index', name=name) }}" role="button">{{ defn.cancel_action }}</a>
        {% endif %}
    </p>

    {% include "resource/_form.html" %}
</form>

{% endblock %}