{% from "resource/_joint.html" import render_part, rendel with context  %}
{% set title = name %}
{% extends "layouts/application.html" %}

{% block body %}
<h1><a href="{{ url_for('resource.index', name=name) }}">{{ name|camel2human }}</a>: {{ defn_parse(defn.title, item) }}</h1>
{% if defn.update_op or defn.delete_op %}
<div class="toolbar">
    {% if defn.update_op %}
    <a href="{{ url_for('resource.edit', name=name, id=item.id) }}" role="button">{{ defn.update_op }}</a>
    {% endif %}
    {% if defn.delete_op %}
    <a href="{{ url_for('resource.delete', name=name, id=item.id) }}" role="button">{{ defn.delete_op }}</a>
    {% endif %}
</div>
{% endif %}

{% for slide in defn.slides %}
<section role="doc-part">
    {% if slide.title %}
    <h2>{{ slide.title }}</h2>
    {% endif %}
    
    {% for part in slide.parts %}
        {{ render_part(part, item, loop) }}
    {% else %}
    {% if slide.auto == "foreach" %}
    {% set autoon = defn_parse_raw(slide.autoon, item) %}
    {% for autoitem in autoon %}
        {{ render_part(slide.autopart, autoitem, loop) }}
    {% endfor %}
    {% endif %}
    {% endfor %}
</section>
{% endfor %}

{% endblock %}