{% macro render_enum(key, val, id="_", multiple=False) %}
<select name="{{ id }}" id="{{ id }}" {{ "multiple" if multiple }}>
    {% for e in get_enum(key).query.all() %}
    <option value="{{ e.id }}"
    {% if multiple %}
            {{ 'selected' if e.id in get_ids(val) }}>
    {% else %}
            {{ 'selected' if e.id == val.id }}>
    {% endif %}
        {{ e.title }}
    </option>
    {% endfor %}
</select>
<a href="{{ url_for('enum.show', name=key) }}" target="_blank" role="complementary">(Edit This Enumeration)</a>
{% endmacro %}

<form action="" method="post">
    <h1>{{ form_title }}</h1>
    <p>
        <button type="submit">{{ form_submit_txt }}</button>
        <a href="{{ form_cancel_url }}" role="button">Cancel</a>
    </p>

    <section role="doc-part">
        <h2>Identification</h2>

        <table role="table">
            <tbody>
                <tr>
                    <th><label for="insc__title">Public title</label></th>
                    <td><input type="text" id="insc__title" value="{{ inscription.title }}" name="title"></td>
                </tr>
                <tr>
                    <th><label for="insc__trismegistos_nr">Trismegistos-No.</label></th>
                    <td>
                        <input type="text" id="insc__trismegistos_nr" value="{{ inscription.trismegistos_nr }}" name="trismegistos_nr">
                        <p>(or "n/a" if not applicable)</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <section role="doc-part">
        <h2>Inscription &amp; Translations</h2>

        <table role="table">
            <tbody>
                <tr>
                    <th><label for="text__interpretative">Interpretative Form</label></th>
                    <td><textarea id="text__interpretative" class="monotext" name="text_interpretative_form">{{ inscription.text_interpretative_form }}</textarea></td>
                </tr>
                <tr>
                    <th><label for="text__diplomatic">Diplomatic Form</label></th>
                    <td><textarea id="text__diplomatic" class="monotext" name="text_diplomatic_form">{{ inscription.text_diplomatic_form }}</textarea></td>
                </tr>
                <tr>
                    <th><label for="text__with_metrics">Text Form with Metrics Visualised</label></th>
                    <td><textarea id="text__with_metrics" class="monotext" name="text_metrics_visualised_form">{{ inscription.text_metrics_visualised_form }}</textarea></td>
                </tr>
            </tbody>
        </table>

        <h2>Translations</h2>
        
        <table role="table">
            <tbody>
                {% for translation in inscription.translations %}
                    <tr>
                        <th>{{ translation.language.title }}</th>
                        <td>
                            <p>{{ translation.translated_form }}</p>
                            {% if translation.link_to_published_transition %}
                            <p><cite>{{ translation.link_to_published_transition }}</cite></p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>These translations are stored in a separate table, you can <a href="">edit them here</a>.</p>
    </section>

    <section role="doc-part">
        <h2>Object</h2>
    
        <h3>Provenance and Location</h3>
        <table role="table">
            <tbody>
                <tr>
                    <th><label for="place_id">Find Place</label></th>
                    <td>{{ render_enum("Places", inscription.place, id="place_id", multiple=False) }}</td>
                </tr>
                <tr>
                    <th><label for="find_comment">Find Context</label></th>
                    <td><textarea id="find_comment" name="find_comment">{{ inscription.find_comment }}</textarea></td>
                </tr>
                <tr>
                    <th><label for="current_location_id">Current Location</label></th>
                    <td>{{ render_enum("CurrentLocations", inscription.current_location, id="current_location_id", multiple=False) }}</td>
                </tr>
            </tbody>
        </table>
    
        <h3>Object Details</h3>
        <table role="table">
            <tbody>
                <tr>
                    <th><label for="object_type_id">Object Type</label></th>
                    <td>{{ render_enum("ObjectTypes", inscription.object_type, id="object_type_id", multiple=False) }}</td>
                </tr>
                <tr>
                    <th><label for="object_material_id">Material</label></th>
                    <td>{{ render_enum("ObjectMaterials", inscription.object_material, id="object_material_id", multiple=False) }}</td>
                </tr>
                <tr>
                    <th><label for="object_preservation_state_id">State of Preservation</label></th>
                    <td>{{ render_enum("ObjectPreservationStates", inscription.object_preservation_state, id="object_preservation_state_id", multiple=False) }}</td>
                </tr>
                <tr>
                    <th>Dimensions</th>
                    <td>&hellip;</td>
                </tr>
                <tr>
                    <th><label for="object_execution_technique_id">Execution Technique</label></th>
                    <td>{{ render_enum("ObjectExecutionTechniques", inscription.object_execution_technique, id="object_execution_technique_id", multiple=False) }}</td>
                </tr>
            </tbody>
        </table>

        <h3>Decoration and Layout</h3>
        <table role="table">
            <tbody>
                <tr>
                    <th><label for="object_decoration_comment">Decoration and Iconography</label></th>
                    <td><textarea id="object_decoration_comment" name="object_decoration_comment">{{ inscription.object_decoration_comment }}</textarea></td>
                </tr>
                <tr>
                    <th><label for="decoration_tags">Decoration tags</label></th>
                    <td>{{ render_enum("ObjectDecorationTags", inscription.decoration_tags, id="decoration_tags", multiple=True) }}</td>
                </tr>
                <tr>
                    <th><label for="object_text_layout_comment">Text Layout</label></th>
                    <td><textarea id="object_text_layout_comment" name="object_text_layout_comment">{{ inscription.object_text_layout_comment }}</textarea></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section role="doc-part">
        <h2>Text</h2>
    
        <table role="table">
            <tbody>
                <tr>
                    <th><label for="text_function_id">Function</label></th>
                    <td>{{ render_enum("TextFunctions", inscription.text_function, id="text_function_id", multiple=False) }}</td>
                </tr>
                <tr>
                    <th><label for="languages">Language(s)</label></th>
                    <td>{{ render_enum("Languages", inscription.languages, id="languages", multiple=True) }}</td>
                </tr>
                <tr>
                    <th><label for="verse_types">Verse Type(s)</label></th>
                    <td>{{ render_enum("VerseTypes", inscription.verse_types, id="verse_types", multiple=True) }}</td>
                </tr>
                <tr>
                    <th><label for="apparatus_criticus">Apparatus criticus</label></th>
                    <td><textarea id="apparatus_criticus" name="apparatus_criticus">{{ inscription.apparatus_criticus }}</textarea></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section role="doc-part">
        <h2>Prosopographical Information</h2>

        {% for person in inscription.people %}
            <h3>No. {{ loop.index }}: {{ person.name }}</h3>
            <table role="table">
                <tbody>
                    <tr>
                        <th>Name of Person</th>
                        <td>{{ person.name }}</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>{{ person.gender.title }}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>
                            <p>{{ person.age.title }}</p>
                            <p>(expression: {{ person.age_expression.title }},
                                precision: {{ person.age_precision.title }})</p>
                        </td>
                    </tr>
                    <tr>
                        <th>Origin</th>
                        <td>{{ person.origin.title }}</td>
                    </tr>
                    <tr>
                        <th>Legal Status</th>
                        <td>{{ person.legal_status.title }}</td>
                    </tr>
                    <tr>
                        <th>Rank</th>
                        <td>{{ person.rank.title }}</td>
                    </tr>
                    <tr>
                        <th>Profession</th>
                        <td>{{ person.profession.title }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}

        <p>These prosopographical information are stored in a separate table, you can <a href="">edit them here</a>.</p>
    </section>

    <section role="doc-part">
        <h2>Further Information</h2>
    
        <h3>Comment</h3>
        <table role="table">
            <tbody>
                <tr>
                    <th><label for="general_comment">Verse Type(s)</label></th>
                    <td><textarea id="general_comment" name="general_comment">{{ inscription.general_comment }}</textarea></td>
                </tr>
            </tbody>
        </table>
    
        <h3>Dating Information</h3>
        <table role="table">
            <tbody>
                <tr>
                    <th><label for="date">Date</label></th>
                    <td><textarea id="date" name="date">{{ inscription.date }}</textarea></td>
                </tr>
                <tr>
                    <th><label for="languages">Criteria</label></th>
                    <td>{{ render_enum("DatingCriteria", inscription.dating_criteria, id="dating_criteria", multiple=True) }}</td>
                </tr>
            </tbody>
        </table>
    
        <h3>Bibliography</h3>
        <ul>
            {% for publication in inscription.publications %}
            <li>{{ publication.reference_comment }}</li>
            {% endfor %}
        </ul>

        <p>These bibliographical information are stored in a separate table, you can <a href="">edit them here</a>.</p>
    </section>
</form>