{% set title = "Inscriptions" %}
{% extends "layouts/application.html" %}

{% block body %}
<h1>Inscriptions</h1>
{% if current_user.is_authenticated %}
<p><a href="{{ url_for('inscriptions.new') }}" role="button">Add inscription</a></p>
{% endif %}
<table role="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Trismegistos-ID</th>
        </tr>
    </thead>
    <tbody>
        {% for insc in inscs %}
        <tr>
            <td>
                <a href="{{ url_for('inscriptions.show', id=insc.id) }}" tabindex="-1">
                    {{ insc.long_id() }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('inscriptions.show', id=insc.id) }}">
                    {{ insc.title }}
                </a>
            </td>
            <td>
                {{ insc.trismegistos_nr }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}