{% set title = "Inscriptions" %}
{% extends "layouts/application.html" %}

{% block body %}
{% if current_user.is_authenticated %}
<div class="float-right mt">
    <a href="{{ url_for('inscriptions.new') }}" class="button">Add inscription</a>
</div>
{% endif %}
<h1>Inscriptions</h1>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Trismegistos-ID</th>
        </tr>
    </thead>
    <tbody>
        {% for insc in inscs %}
        <tr>
            <td>
                <a href="{{ url_for('inscriptions.show', id=insc.id) }}" tabindex="-1">
                    {{ (""~insc.id).zfill(5) }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('inscriptions.show', id=insc.id) }}">
                    {{ insc.title }}
                </a>
            </td>
            <td>
                {{ insc.trismegistos_nr }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}