{% set title = "Inscriptions" %}
{% extends "layouts/application.html" %}

{% block body %}
<h1>Inscriptions Map</h1>

<div id="the-map"></div>
<div data-json aria-hidden="true">{{ mc|tojson }}</div>

<script>
    window.onload = function() {
        // A JavaScript array with the search results
        var results = JSON.parse(document.querySelector("[data-json]").innerText);
    
        // You can set in initialization...
        var map = new Mappola.SearchResultMap({
          // Mandatory: the container DIV
          parent: document.getElementById('the-map'), 
    
          // Optional: search results to show initially
          results: results
        });
    }
</script>
{% endblock %}