{% set title = "Inscription: " + inscription.title %}
{% extends "layouts/application.html" %}

{% block body %}
<h1>{{ inscription.title }}</h1>
{% if current_user.is_authenticated %}
<p><a href="{{ url_for('inscriptions.edit', id=inscription.id) }}">Edit This Inscription</a></p>
{% endif %}

<section role="doc-cover">
    <h2>Identification</h2>
    <table role="table">
        <tbody>
            <tr>
                <th>Reference as:</th>
                <td>MPL {{ (""~inscription.id).zfill(5) }}</td>
            </tr>
            <tr>
                <th>Trismegistos-No.</th>
                <td>{{ inscription.trismegistos_nr }}</td>
            </tr>
        </tbody>
    </table>
</section>

<section role="doc-part">
    <h2>Inscription &amp; Translations</h2>
    
    <div class="text-presentation">{{ inscription.text_diplomatic_form }}</div>
    <div class="text-presentation">{{ inscription.text_interpretative_form }}</div>
    <div class="text-presentation">{{ inscription.text_metrics_visualised_form }}</div>
    <div class="switch-list">
        <input type="radio" name="text-form" id="text-form--dipl" value="diplomatic" checked>
        <label for="text-form--dipl">Diplomatic</label>
        <input type="radio" name="text-form" id="text-form--intp" value="interpretative">
        <label for="text-form--intp">Interpretative</label>
        <input type="radio" name="text-form" id="text-form--mevs" value="metrics-visualised">
        <label for="text-form--mevs">With Metrics Visualised</label>
    </div>
    <h2>Translations</h2>
    
    <table role="table">
        <tbody>
            {% for translation in inscription.translations %}
                <tr>
                    <th>{{ translation.language.title }}</th>
                    <td>
                        <p>{{ translation.translated_form }}</p>
                        {% if translation.link_to_published_transition %}
                        <p><cite>{{ translation.link_to_published_transition }}</cite></p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section role="doc-part">
    <h2>Object</h2>

    <h3>Provenance and Location</h3>
    <table role="table">
        <tbody>
            <tr>
                <th>Find Place</th>
                <td>{{ inscription.place.title }}</td>
            </tr>
            <tr>
                <th>Find Context</th>
                <td>{{ inscription.find_comment }}</td>
            </tr>
            <tr>
                <th>Current Location</th>
                <td>{{ inscription.current_location.title }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Object Details</h3>
    <table role="table">
        <tbody>
            <tr>
                <th>Object Type</th>
                <td>{{ inscription.object_type.title }}</td>
            </tr>
            <tr>
                <th>Material</th>
                <td>{{ inscription.object_material.title }}</td>
            </tr>
            <tr>
                <th>State of Preservation</th>
                <td>{{ inscription.object_preservation_state.title }}</td>
            </tr>
            <tr>
                <th>Dimensions</th>
                <td>&hellip;</td>
            </tr>
            <tr>
                <th>Execution Technique</th>
                <td>{{ inscription.object_execution_technique.title }}
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Decoration and Layout</h3>
    <table role="table">
        <tbody>
            <tr>
                <th>Decoration and Iconography</th>
                <td>{{ inscription.object_decoration_comment }}</td>
            </tr>
            <tr>
                <th>Decoration Tags</th>
                <td>
                    <ul>
                        {% for lang in inscription.decoration_tags %}
                        <li>{{ lang.title }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Text Layout</th>
                <td>{{ inscription.object_text_layout_comment }}</td>
            </tr>
        </tbody>
    </table>
</section>

<section role="doc-part">
    <h2>Text</h2>

    <table role="table">
        <tbody>
            <tr>
                <th>Function</th>
                <td>{{ inscription.text_function.title }}</td>
            </tr>
            <tr>
                <th>Language(s)</th>
                <td>
                    <ul>
                        {% for lang in inscription.languages %}
                        <li>{{ lang.title }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Verse Type(s)</th>
                <td>
                    <ul>
                        {% for lang in inscription.verse_types %}
                        <li>{{ lang.title }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Apparatus Criticus</th>
                <td>{{ inscription.apparatus_criticus }}</td>
            </tr>
        </tbody>
    </table>
</section>

<section role="doc-part">
    <h2>Prosopographical Information</h2>

    {% for person in inscription.people %}
        <h3>No. {{ loop.index }}: {{ person.name }}</h3>
        <table role="table">
            <tbody>
                <tr>
                    <th>Name of Person</th>
                    <td>{{ person.name }}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{ person.gender.title }}</td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>
                        <p>{{ person.age.title }}</p>
                        <p>(expression: {{ person.age_expression.title }},
                            precision: {{ person.age_precision.title }})</p>
                    </td>
                </tr>
                <tr>
                    <th>Origin</th>
                    <td>{{ person.origin.title }}</td>
                </tr>
                <tr>
                    <th>Legal Status</th>
                    <td>{{ person.legal_status.title }}</td>
                </tr>
                <tr>
                    <th>Rank</th>
                    <td>{{ person.rank.title }}</td>
                </tr>
                <tr>
                    <th>Profession</th>
                    <td>{{ person.profession.title }}</td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
</section>

<section role="doc-part">
    <h2>Further Information</h2>

    <h3>Comment</h3>
    <p>{{ inscription.general_comment }}</p>

    <h3>Dating Information</h3>
    <table role="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ inscription.date }}</td>
            </tr>
            <tr>
                <th>Criteria</th>
                <td>
                    <ul>
                        {% for criterion in inscription.dating_criteria %}
                        <li>{{ criterion.title }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Bibliography</h3>
    <ul>
        {% for publication in inscription.publications %}
        <li>{{ publication.reference_comment }}</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}